{% extends 'base.html' %} {% block content %}
<div class="info-card">
  <h2>User Information</h2>
  {% if user %}
  <table>
    <tr>
      <th>Username</th>
      <td>{{ user['username'] }}</td>
    </tr>
    <tr>
      <th>First Name</th>
      <td>{{ user['firstname'] }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ user['lastname'] }}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ user['phone'] }}</td>
    </tr>
  </table>
  {% endif %}
  <a class="logout-link" href="/logout">Logout</a>
</div>
{% endblock %}
